<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title><%=title %></title><meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Matrix admin -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/datepicker.css" />
    <link rel="stylesheet" href="css/uniform.css" />
    <link rel="stylesheet" href="css/select2.css" />
    <link rel="stylesheet" href="css/matrix-style.css" />
    <link rel="stylesheet" href="css/matrix-media.css" />
    <link rel="stylesheet" href="css/bootstrap-wysihtml5.css" />
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
    <script src="/js/myCtrl.js"></script>

</head>


<body ng-controller="controladorProyectos">
<!--Header-part-->
<div id="header">
    <h1><a href="/dashboard">Matrix Admin</a></h1>
</div>
<!--close-Header-part-->

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        <li class=""><a title="" href="#"><i class="icon icon-user"></i> <span class="text">Hola <%=user.username%></span></a></li>
        <li class=""><a title="" href="/logout"><i class="icon icon-share-alt"></i> <span class="text">Cerrar Sesion</span></a></li>
    </ul>
</div>
<!--close-top-header-->

<!--sidebar-menu-->
<div id="sidebar"> <a href="#" class="visible-phone"><i class="icon icon-list"></i>Forms</a>
    <ul>
        <li><a href="/dashboard"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
        <li class="submenu"> <a href="#"><i class="icon icon-pencil"></i> <span>Proyectos</span> </a>
            <ul>
                <li><a href="/proyectos">Ver Proyectos</a></li>
                <li><a href="/CrearProyecto">Crear Proyecto</a></li>
            </ul>
        </li>
        <li class="submenu"> <a href="#"><i class="icon icon-user"></i> <span>Usuarios</span> </a>
            <ul>
                <li><a href="/usuarios">Ver Usuarios</a></li>
                <li><a href="/CrearUsuario">Crear Usuarios</a></li>
            </ul>
        </li>
        <li class="submenu"> <a href="#"><i class="icon icon-headphones"></i> <span>Audios</span> </a>
            <ul>
                <li><a href="/audios">Ver audios</a></li>
            </ul>
        </li>
    </ul>
</div>
<!--close-left-menu-stats-sidebar-->



<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="/dashboard" title="Volver al inicio" class="tip-bottom"><i class="icon-home"></i>Dashboard</a> <a href="#" class="tip-bottom">Proyectos</a> <a href="#" class="current">Ver Proyectos</a> </div>
        <h1>Crear Proyecto </h1>
    </div>

    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span6">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Informacion de Proyecto</h5>
                    </div>

                    <div class="widget-content nopadding">

                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="control-group">
                                    <label class="control-label">Nombre de Proyecto :</label>
                                    <div class="controls">
                                        <input type="text" class="span11" placeholder="Nombre del proyecto" ng-model="formData.nombre"/>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <a  href="/proyectos" class="btn btn-success" ng-click="crearProyecto()">Añadir</a>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Scripts de Matrix -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.ui.custom.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.uniform.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/matrix.js"></script>
<script src="js/matrix.tables.js"></script>
<script src="js/wysihtml5-0.3.0.js"></script>
<script src="js/jquery.peity.min.js"></script>
<script src="js/bootstrap-wysihtml5.js"></script>
<script>
    $('.textarea_editor').wysihtml5();
</script>


</body>
</html>