<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> <%= title %></title>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
    <script src="/js/myCtrl.js"></script>

</head>
<body>
    <!--NAVBAR-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dashboard">Administrador</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/proyectos">Proyectos <span class="sr-only">(current)</span></a></li>
                    <li><a href="/usuarios">Usuarios</a></li>
                    <li><a href="/logout" class="btn btn-default btn-sm">Logout</a></li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <h2>Rellene los campos que desea modificar</h2>
    <h1 type="rext" id="id"> resultado : <%=resultado%></h1>
    <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form action="/api/modificarUsuario/<%=resultado.id%>" method="post">
                <div class="form-group" >
                    <label>Nombre de Usuario</label>
                    <input type="text" name="username" value="<%=resultado.username%>" class="form-control input-lg text-center" placeholder="<%=resultado.username%>">
                    <label>Contraseña de usuario</label>
                    <input type="text" name="password" value="<%=resultado.password%>" class="form-control input-lg text-center" placeholder="<%=resultado.password%>" >
                    <label>email de Usuario</label>
                    <input type="text" name="email" value="<%=resultado.email%>" class="form-control input-lg text-center" placeholder="<%=resultado.email%>">
                </div>
                <input type="submit" class="btn btn-primary btn-lg">Modificar</input>
            </form>
        </div>
    </div>
</body>
</html>