<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
    <script src="/js/myCtrl.js"></script>
</head>
<body ng-controller="myCtrl">

    <!--NAVBAR-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dashboard">Administrador <%=user.username%></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/proyectos">Proyectos <span class="sr-only">(current)</span></a></li>
                    <li><a href="/usuarios">Usuarios</a></li>
                    <li><a href="/logout" class="btn btn-default btn-sm">Logout</a></li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!-- CREAR UN NUEVO USUARIO -->

    <a href="/crearUsuario" class="btn btn-default btn-sm">Crear usuario</a>

    <!-- LISTA DE USUARIOS -->
    <div>
        <h1>{{title}}</h1>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th> ID </th>
            <th> Username </th>
            <th> Password </th>
            <th> Email </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="usuario in users">
            <td>{{usuario.id}}</td>
            <td>{{usuario.username}}</td>
            <td>{{usuario.password}}</td>
            <td>{{usuario.email}}</td>
            <td><a href="#" class="btn btn-default btn-sm">Ver actividad</a></td>
            <td><a href="/modificarUsuario" class="btn btn-default btn-sm">Modificar</a></td>
            <td><a href="/usuarios" class="btn btn-default btn-sm" ng-click="deleteUsuario(usuario.id)">Eliminar</a></td>

        </tr>
        </tbody>
    </table>

</body>
</html>